body {
  text-align: center;
  font-size: 15px;
  color: white;
}

p {
  font-family: 'Lexend Deca', sans-serif;
  line-height: 2;
  width: 45%;
  margin: 2px auto;
  color: hsla(0, 0%, 100%, 0.75);
  position: relative;
  right: 10%;
  text-align: left;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  position: relative;
  right: 100px;
  font-size: 2.5rem;
  margin-left: 60px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  width: 18%;
  height: 60%;
  position: absolute;
  left: 20%;
  margin: 200px auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sedan-image {
  position: relative;
  right: 90px;
  margin-top: 30px;
}

.suvs {
 background-color: hsl(184, 100%, 22%);
 width: 18%;
 height: 60%;
 position: absolute;
 left: 38%;
 margin: 200px auto;
}

.suv-image {
  position: relative;
  right: 90px;
  margin-top: 30px;
}

.suv-heading {
  position: relative;
  right: 113px;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  width: 18%;
  height: 60%;
  position: absolute;
  left: 56%;
  margin: 200px auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.luxury-image {
  position: relative;
  right: 90px;
  margin-top: 30px;
}

.learn-more {
  border-style: solid;
  border-radius: 40px;
  border-color: white;
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  position: relative;
  top: 15%;
  right: 20%;
  padding: 20px;
  text-decoration: none;
}

.attribution {
  position: absolute;
  margin: 850px auto;
  left: 35%;
}
